<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="roll" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="File" value="./tmp/web-data.log" />
        <param name="Threshold" value="DEBUG" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss,sss,SSS} [%t] %c %x%n %-5p %m%n" />
       	</layout>
   	</appender>
    <appender name="ConsoleSTDOUT" class="org.apache.log4j.ConsoleAppender">
    	<param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss,SSS}] %-5p %c \n %m %n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
        	<param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="INFO" />
        </filter>
	</appender>
	<!-- LOGGERs Section -->
	<root>
		<priority value="DEBUG" />
        <appender-ref ref="ConsoleSTDOUT" />
        <appender-ref ref="roll" />
   	</root>
</log4j:configuration>
